<ul id="linkifyUsers">
  <%- @words.each do |word| -%>
    <li>
    <p style="color: red; font-size: 14px">単語名称  ：<%= word[:name] %></p>
    <p>出現回数<%= word[:count] %></p>
    <p>この単語を含むツイート</p>
    <ul>
      <%- word.tweets.each do |tweet| -%>
        <li>
        <%= image_tag(tweet.profile_image_url, :size=>"20x25") %>
        @<%= tweet.user %>
        <%= tweet.text %>
        </li>
      <%- end -%>
    </ul>
  <%- end -%>
</ul>

<script type="text/javascript">
  twttr.anywhere(function(twitter) {
  twitter.linkifyUsers();
  twitter("#linkifyUsers").linkifyUsers();});
  twttr.anywhere(function(twitter){
    twitter.hovercards();
  });
</script>
