<div class="words">
  <%- @words.each do |word| -%>
    <%= link_to word.name, :word => word.name %>
  <%- end -%>
</div>

<h3>
  <%= params[:word] ? params[:word] + "を含むつぶやき" : "最近の同志社関連のつぶやき" %>
</h3>
<ul class="tweets">
  <%- @tweets.each do |tweet| -%>
    <li>
      <%= image_tag(tweet.profile_image_url, :size=>"25x25") %>
      @<%= tweet.user %>
      <%= tweet.text %>
    </li>
  <%- end -%>
</ul>


