<br>
<p>投稿された意見</p>
<p>
  <ul class = order>
    <li>
    <%= link_to "最新順", :doing => "created_at desc" %>
    </li>
    <li>
    <%= link_to "返信数順", :doing => "reply_quantity desc" %>
    </li>
  </ul>
</p>
<%- count = 0 -%><br>
<%- reply_count = 0 -%>
<%- @opinions.each do |opinion|-%>
  <ul class = opinions>
    <li>
      <%= image_tag(opinion.profile_image_url, :size => "25x25")%>  
      @<%= opinion.user%>
      <%= opinion.text%>
      返信数：<%= opinion.reply_quantity%>
      <%= link_to_function ("返信"){|page| page[:"reply_box#{reply_count}"].toggle()}%>
      <%= link_to_function ("詳細"){|page| page[:"#{count}"].toggle()}%>      
      </li><br>
      <li style = "display:none;" id = reply_box<%=reply_count%>>
      この意見に対して返信する
      <%- form_tag (:action => 'reply', :replytext_id => opinion.id) do -%>
        <%= text_area_tag("replytext","", :cols => 50, :disabled => session[:oauth] != true) %>
        <%=submit_tag "返信", :disabled => session[:oauth] != true%>
      <%- end -%>
      </li>
      <li style ="display:none;" id =<%=count%> class = replies>
      <%- @reply_opinions.each do |reply|-%>
        <%- if reply.reply_number == opinion.id-%>
          <%= reply.text%>
          @<%= reply.user%>
          <%= image_tag(reply.profile_image_url, :size => "23x23") %>
          <br>
          <br>
        <%- end -%>
      <%- end -%>
    </li>
    <br>
  </ul>
  <%- count += 1-%>
  <%- reply_count += 1-%>
<%- end -%>
