<!DOCTYPE html>
<html>
<head>
  <title>Eden</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="topbar-outer">
    <div id="topbar">
      Twitterをスキャンして同志社のトレンドを集計しています。
      現在<%= @tweets_count %>件のつぶやきを保存しています。
    </div>
  </div>
  <div id="header-outer">
  <div id="header">
    <h1>同志社なう</h1>
  </div>
  </div>
  
  <div id="main">
    <%= yield %>
  </div>

  <div id="footer-outer">
  <div id="footer">
    &#169;2010 gakuweb.com all rights reserved    
  </div>
  </div>
</body>
</html>
